<div class="contact">
  <h2>{% t contact.title %}</h2>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="contact-info">
        <p>{% t contact.description %}</p>
        <div class="contact">
          <div class="contact-company">
            <img data-src="{{ '/assets/icons/company.svg' | relative_url }}"
              alt="Company" class="lazyload" />
            <b>{{ site.company }}</b>
          </div>
          <div class="contact-company-registration-number">
            <img data-src="{{ '/assets/icons/certificate.svg' | relative_url }}"
              alt="Company registration number" class="lazyload" />
            {{ site.company-registration-number }}
          </div>
          <div class="contact-eu-tax-number">
            <img data-src="{{ '/assets/icons/tax.svg' | relative_url }}"
              alt="EU tax number" class="lazyload" />
            {{ site.eu-tax-number }}
          </div>
          <div class="contact-address">
            <img data-src="{{ '/assets/icons/map.svg' | relative_url }}"
              alt="Map" class="lazyload" />
            <a href="{{ site.google-url }}"
              target="_blank">{% t contact.address %}</a>
          </div>
          <div class="contact-phone">
            <img data-src="{{ '/assets/icons/phone.svg' | relative_url }}"
              alt="Phone" class="lazyload" />
            <a
              href="tel:+{{ site.phone-number }}">{% t contact.phone-text %}</a>
          </div>
          <div class="contact-email">
            <img data-src="{{ '/assets/icons/email.svg' | relative_url }}"
              alt="Email" class="lazyload" />
            <a href="javascript:"
              data-email="{{ site.email.recipient-name }}[at]{{ site.email.domain }}[dot]{{ site.email.top-level-domain }}"></a>
          </div>
          <div class="contact-bank-iban">
            <img data-src="{{ '/assets/icons/bank.svg' | relative_url }}"
              alt="Bank IBAN" class="lazyload" />
            {{ site.bank-iban }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="contact-box">
        <form id="contact-form">
          <input type="hidden" id="formspark-contact-form-action-url"
            value="{{ site.formspark_contact_form_action_url }}" />
          <div class="form-group">
            <label for="name">{% t contact.name %} <sup>*</sup></label>
            <input type="text" id="name" class="form-control" />
            <div class="alert alert-danger">{% t contact.incorrect %}</div>
          </div>
          <div class="form-group">
            <label for="email">{% t contact.email %} <sup>*</sup></label>
            <input type="text" id="email" class="form-control" />
            <div class="alert alert-danger">
              <div>{% t contact.incorrect-email %}</div>
              <div>{% t contact.incorrect %}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="message">{% t contact.message %} <sup>*</sup></label>
            <textarea id="message" class="form-control" rows="4"></textarea>
            <div class="alert alert-danger">{% t contact.incorrect %}</div>
          </div>
          <button type="button" id="contact-form-send-button"
            class="btn btn--bg-color-persian-green">
            <div class="spinner-border spinner-border-sm">
              <span class="sr-only">Loading...</span>
            </div>
            {% t contact.submit %}
          </button>
          <div id="status" class="mt-3">
            <div id="status-success" class="alert alert-success">
              {% t contact.success %}
            </div>
            <div id="status-error" class="alert alert-danger">
              {% t contact.error %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>