<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 description">
        {{ site.data.translations.footer.description[page.language] }}
      </div>
      <div class="col-6 social-media">
        {% if site.facebook.username %}
        <a href="https://www.facebook.com/{{ site.facebook.username }}" target="_blank">
          <span class="facebook"></span>
        </a>
        {% endif %}
        {% if site.twitter.username %}
        <a href="https://www.twitter.com/{{ site.twitter.username }}" target="_blank">
          <span class="twitter"></span>
        </a>
        {% endif %}
        {% if site.linkedin.username %}
        <a href="https://www.linkedin.com/{{ site.linkedin.username }}" target="_blank">
          <span class="linkedin"></span>
        </a>
        {% endif %}
        {% if site.youtube.username %}
        <a href="https://www.youtube.com/@{{ site.youtube.username }}" target="_blank">
          <span class="youtube"></span>
        </a>
        {% endif %}
        {% if site.google_business.username %}
        <a href="https://g.page/r/{{ site.google_business.username }}" target="_blank">
          <span class="google-business"></span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="copyright">
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}.
      {{ site.data.translations.footer.copyright[page.language] }}
      <a href="{{ site.baseurl }}/{{ page.language }}/legal-notice">
        {{ site.data.translations.legal_notice[page.language] }}
      </a> |
      <a href="{{ site.baseurl }}/{{ page.language }}/privacy-policy">
        {{ site.data.translations.privacy_policy[page.language] }}
      </a>
      <a href="#top" class="scroll-top"></a>
    </div>
  </div>
</footer>