<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 description">
        {% t footer.description %}
      </div>
      <div class="col-6 social-media">
        {% if site.facebook.username %}
        <a href="https://www.facebook.com/{{ site.facebook.username }}"
          target="_blank">
          <span class="facebook"></span>
        </a>
        {% endif %}
        {% if site.twitter.username %}
        <a href="https://www.twitter.com/{{ site.twitter.username }}"
          target="_blank">
          <span class="twitter"></span>
        </a>
        {% endif %}
        {% if site.linkedin.username %}
        <a href="https://www.linkedin.com/{{ site.linkedin.username }}"
          target="_blank">
          <span class="linkedin"></span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="copyright">
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}.
      {% t global.copyright %} |
      <a href="{{ '/legal-notice' | relative_url }}">
        {% t titles.legal-notice %}
      </a> |
      <a href="{{ '/privacy-policy' | relative_url }}">
        {% t titles.privacy-policy %}
      </a>
      <a href="#top" class="scroll-top"></a>
    </div>
  </div>
</footer>