<div class="home">
  <section class="intro">
    <div class="headline">
      <h1>{% t global.title %}</h1>
      <h2>{% t global.subtitle %}</h2>
    </div>
  </section>
  <section id="tools">
    {% include tools.html %}
  </section>
  <section id="about">
    <div class="container">
      {% tf about.md %}
    </div>
  </section>
  <section id="contact">
    <div class="container">
      {% include contact.html %}
    </div>
  </section>
  <section id="our-clients">
    <div class="container">
      {% include our-clients.html %}
    </div>
  </section>
</div>