// External
@use 'external/soho';

// Base
@use 'base/colors';
@use 'base/fonts';
@use 'base/buttons';
@use 'base/keyframes';
@use 'base/global';

// Layouts
@use 'layouts/page';

// Includes
@use 'includes/404' as page404;
@use 'includes/body';
@use 'includes/contact';
@use 'includes/footer';
@use 'includes/header';
@use 'includes/home';
@use 'includes/main-image';
@use 'includes/navbar';
@use 'includes/our-clients';
@use 'includes/page' as page2;
@use 'includes/reference-gallery';
@use 'includes/tools';
@use 'includes/video';