$soho-font-path: './../../assets/fonts/Soho' !default;

@font-face {
  font-family: Soho Regular;
  src: url('#{$soho-font-path}/SohoStdHU-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Soho Medium;
  src: url('#{$soho-font-path}/SohoStdHU-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Soho Bold;
  src: url('#{$soho-font-path}/SohoStdHU-Bold.ttf') format('truetype');
  font-display: swap;
}
