.footer {
  padding: 30px 0;
  color: $white;
  background-color: $black;

  hr {
    border-color: $cod-gray;
  }

  .social-media {
    text-align: right;

    a {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    .facebook,
    .twitter,
    .linkedin,
    .youtube,
    .google-business {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .facebook {
      background-image: url(./../../assets/icons/facebook.svg);

      &:active,
      &:focus,
      &:hover {
        background-image: url(./../../assets/icons/facebook-hover.svg);
      }
    }

    .twitter {
      background-image: url(./../../assets/icons/twitter.svg);

      &:active,
      &:focus,
      &:hover {
        background-image: url(./../../assets/icons/twitter-hover.svg);
      }
    }

    .linkedin {
      background-image: url(./../../assets/icons/linkedin.svg);

      &:active,
      &:focus,
      &:hover {
        background-image: url(./../../assets/icons/linkedin-hover.svg);
      }
    }

    .youtube {
      background-image: url(./../../assets/icons/youtube.svg);

      &:active,
      &:focus,
      &:hover {
        background-image: url(./../../assets/icons/youtube-hover.svg);
      }
    }

    .google-business {
      background-image: url(./../../assets/icons/google-business.svg);

      &:active,
      &:focus,
      &:hover {
        background-image: url(./../../assets/icons/google-business-hover.svg);
      }
    }
  }

  .copyright {
    padding: 20px 0px;
    font-size: $font-size-extra-small;

    a:not(:last-child) {
      margin: 0 5px;
    }
  }

  .scroll-top {
    width: 20px;
    height: 20px;
    background-image: url(./../../assets/icons/up-arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;

    &:active,
    &:focus,
    &:hover {
      background-image: url(./../../assets/icons/up-arrow-hover.svg);
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .description {
      font-size: $font-size-small;
    }

    .copyright {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .scroll-top {
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    .row {
      align-items: center;
    }

    .description {
      font-size: $font-size-extra-small;
    }

    .copyright {
      display: block;
    }

    .scroll-top {
      display: block;
      margin: 30px auto 0 auto;
    }
  }
}
