.main-image {
  position: relative;
  width: 100%;
  max-width: 450px;

  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .main-image {
    float: right;
  }
}

@media screen and (max-width: 991px) {
  .main-image {
    margin: 0 auto 30px auto;
  }
}