.main-image {
  position: relative;
  width: 100%;
  max-width: 450px;

  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .main-image {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 15px;
  }
}

@media screen and (max-width: 991px) {
  .main-image {
    margin: 30px auto;
  }
}
