@use '../base/colors' as colors;
@use '../base/fonts' as fonts;

.navbar {
  background-color: colors.$black;
  height: 90px;
  transition: all 0.2s ease-in-out;

  &-brand img {
    max-width: 200px;
  }

  &-toggler {
    padding: 0;
    border: 0;

    &.collapsed .navbar-toggler-icon {
      background-image: url(./../../assets/icons/menu.svg);
    }
  }

  &-toggler-icon {
    background-image: url(./../../assets/icons/menu-close.svg);
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
  }

  .nav-link {
    display: inline-block;
    color: colors.$white;

    &:active,
    &:focus,
    &:hover {
      color: colors.$persian-green;
    }
  }

  .chevron {
    display: inline-block;
    background-image: url(./../../assets/icons/chevron-up.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 12px;
    cursor: pointer;

    &.collapsed {
      background-image: url(./../../assets/icons/chevron-down.svg);
    }
  }

  .languages {
    display: inline-flex;
    flex-direction: row;
    text-transform: uppercase;

    &-pictogram {
      display: inline-block;
      margin-right: 8px;
      width: 20px;
      height: 20px;
      background-image: url(./../../assets/icons/language.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &::after {
      margin: 8px 0 0 8px;
    }

    &:active,
    &:focus,
    &:hover {
      .languages-pictogram {
        background-image: url(./../../assets/icons/language-hover.svg);
      }
    }

    &-code {
      flex: 0 1 30px;
      font-family: Soho Bold;
      text-transform: uppercase;
    }
  }

  .dropdown-menu {
    border: 0;
    border-radius: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .dropdown-item {
    display: inline-flex;
    flex-direction: row;
    padding: 8px 18px;
    width: 99.99%;
    font-size: fonts.$font-size-small;

    &.active {
      color: colors.$persian-green;
      background-color: colors.$white;
    }

    &:active,
    &:focus,
    &:hover {
      color: colors.$white;
      background-color: colors.$persian-green;
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    .navbar-collapse {
      justify-content: flex-end;
    }

    .nav-item {
      &:not(:last-child) {
        margin-right: 10px;
      }

      &.languages-dropdown {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid colors.$white;
      }
    }

    .nav-item {
      &:active,
      &:focus,
      &:hover {
        .chevron {
          background-image: url(./../../assets/icons/chevron-down-hover.svg);
        }
      }
    }

    .chevron {
      width: 12px;
      height: 12px;
    }

    .dropdown {
      &:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
      }

      &-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        margin-top: 10px;
        transform: translateY(20px);
        transition: all 0.2s ease-in-out;

        &::before {
          content: '';
          position: absolute;
          top: -5px;
          right: 8px;
          width: 10px;
          height: 10px;
          background-color: colors.$white;
          transform: rotate(45deg);
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    .navbar-collapse {
      position: fixed;
      padding: 12px 0;
      top: 90px;
      left: 0;
      right: 0;
      background-color: colors.$black;
      z-index: 1000;
    }

    .nav-link {
      padding-left: 15px;
      padding-right: 15px;
    }

    .chevron {
      flex: 1;
      margin-right: 15px;
      width: 100%;
      min-height: 40px;
      float: right;
    }

    .dropdown {
      display: flex;
      flex-wrap: wrap;
    }

    .dropdown-menu {
      width: 100%;
    }

    .dropdown.show .languages {
      color: colors.$persian-green;
    }
  }
}
