.reference-gallery {
  .row {
    justify-content: center;
  }

  .col-6 {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  img {
    max-width: 100px;
    height: auto;
  }
}
