.video {
  position: relative;
  width: 100%;
  max-width: 450px;
  text-align: center;

  a {
    display: inline-block;
    width: 100%;
    background-color: $black;
  }

  img {
    width: 70px;
  }
}

@media screen and (min-width: 992px) {
  .video {
    margin-left: 50px;
    float: right;
  }
}

@media screen and (max-width: 991px) {
  .video {
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 768px) {
  .video {
    a {
      padding: 100px;
    }
  }
}

@media screen and (max-width: 767px) {
  .video {
    a {
      padding: 40px;
    }
  }
}