@use 'colors' as colors;

.btn {
  &--bg-color {
    &-persian-green {
      color: colors.$white !important;
      background-color: colors.$persian-green;

      &:hover {
        background-color: colors.$persian-green-2;
      }
    }
  }
}
