// White color
$white: #fff;

// Orange color
$gold-drop: #f07d00;

// Red color
$candy-apple: #ff0800;

// Green color
$persian-green: #01b6ad;
$persian-green-2: #00988f;

// Blue color
$lochmara: #007dc5;

// Gray color
$cod-gray: #111;
$mine-shaft: #333;
$emperor: #555;
$gallery: #ededed;
$geyser: #dee2e6;

// Black color
$black: #000;
