$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-extra-large: 30px;
$font-size-extreme-large: 40px;
$font-size-mega-large: 50px;

$font-weight-bold: 700;